@stylex stylesheet;

@layer priority1 {
  a,
  a:active {
    color: inherit;
  }
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  /* See https://stackoverflow.com/a/44923433/7628220 */
  transition: background-color 5000s ease-in-out 0s;
}

#sentry-feedback {
  --inset: auto auto 0 0;
}
